__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

venv/

.idea/
.vscode/

*.env

results/
tmp/

pdf/

tools/poppler/Library/*
!tools/poppler/Library/bin/
!tools/poppler/Library/bin/**

*.log
*.log.*
*.tmp
*.bak

.DS_Store
Thumbs.db
